<!Doctype Html>
<html>
  <head>
    <title> Calculator - Samuel</title>
   <link href="https://samuelregm.github.io/Calculator/style.css" type="text/css" rel="stylesheet" />
  </head>
    <body>
<div ng-app="calculator" ng-controller="calculatorController as calcy">
  <div class="calculator">
    <header>
      <h1>Samuel's Project</h1>
      <h2>Electronic Calculator</h2>
    </header>
    <div class="display"><span ng-bind="calcy.displayText"></span></div>
    <div class="buttons clearfix">
      <div class="button-container" ng-repeat="btn in calcy.buttons">
        <button ng-click="calcy.press($index)" ng-class="btn.class" ng-cloak>{{btn.text}}</button>
      </div>
    </div>
  </div>
</div>
    </body>
</html>
